body{
    background-color: wheat;
}

#container {
    width: 840px;
    height: 632px;
    margin: auto;
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 2px;
    grid-template-columns: repeat(4,200px);
    background-color: black;
}
#container div {
    width: 197px;
    height: 200px;

}
span {
    border: 2px white solid;
}
.hide {
    opacity: 0;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.gray {
    background-color: gray;
}
.pink {
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.blue {
    background-color: blue;
}